# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/
.venv/
.env/

# Environment variables (real credentials)

# IDE/editor folders
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
stdout
stdout.log
stderr
stderr.log